.workerDetailPage-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 50px;
    background-color: #f7f7f7;
    border-radius: 15px;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.workerDetailPage-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    color: #1f2937;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.workerDetailPage-role {
    font-size: 24px;
    font-weight: 400;
    color: #4b5563;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.workerDetailPage-info {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 30px;
}

.workerDetailPage-photo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    border: 6px solid #eee;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
}

.workerDetailPage-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.workerDetailPage-details {
    flex: 1;
    width: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    text-align: justify;
    margin-top: 30px; /* Добавлен отступ сверху */
}

.workerDetailPage-details p {
    font-size: 16px;
    color: #4b5563;
    line-height: 1.8;
    margin: 12px 0;
    text-indent: 1.5em;
}

.workerDetailPage-details strong {
    color: #1f2937;
    font-weight: bold;
}

.workerDetailPage-biography {
    font-size: 18px;
    color: #555;
    line-height: 1.8;
    margin: 12px 0;
    text-align: justify;
    white-space: pre-line;
}

.workerDetailPage-biography-title {
    font-size: 22px;
    font-weight: 600;
    color: #1f2937;
    margin-bottom: 20px;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 3px solid #4b5563;
    padding-bottom: 10px;
    letter-spacing: 1px;
}
